
5. Train a Naive Bayes Classifier to Create a Spam Filter (Part 2)/SpamData/03_Testing/test-features.txt
5. Train a Naive Bayes Classifier to Create a Spam Filter (Part 2)/SpamData/03_Testing/test-target.txt
6. Test and Evaluate a Naive Bayes Classifier (Part 3)/SpamData/03_Testing/prob-all-tokens.txt
6. Test and Evaluate a Naive Bayes Classifier (Part 3)/SpamData/03_Testing/prob-nonspam.txt
6. Test and Evaluate a Naive Bayes Classifier (Part 3)/SpamData/03_Testing/prob-spam.txt
6. Test and Evaluate a Naive Bayes Classifier (Part 3)/SpamData/03_Testing/test-features.txt
6. Test and Evaluate a Naive Bayes Classifier (Part 3)/SpamData/03_Testing/test-target.txt
6. Test and Evaluate a Naive Bayes Classifier (Part 3)/SpamData/01_Processing/email-text-data.json
*.txt
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/events.out.tfevents.1627471825.Faiqs-MBP.1038.407.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/events.out.tfevents.1627471826.Faiqs-MBP.profile-empty
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.input_pipeline.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.kernel_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.memory_profile.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.overview_page.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.tensorflow_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.trace.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/train/plugins/profile/2021_07_28_16_30_26/Faiqs-MBP.xplane.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 30/validation/events.out.tfevents.1627471826.Faiqs-MBP.1038.1087.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/events.out.tfevents.1627471884.Faiqs-MBP.1038.17366.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/events.out.tfevents.1627471884.Faiqs-MBP.profile-empty
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.input_pipeline.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.kernel_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.memory_profile.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.overview_page.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.tensorflow_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.trace.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/train/plugins/profile/2021_07_28_16_31_24/Faiqs-MBP.xplane.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 31/validation/events.out.tfevents.1627471885.Faiqs-MBP.1038.18062.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/events.out.tfevents.1627471966.Faiqs-MBP.1038.34342.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/events.out.tfevents.1627471967.Faiqs-MBP.profile-empty
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.input_pipeline.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.kernel_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.memory_profile.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.overview_page.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.tensorflow_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.trace.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/train/plugins/profile/2021_07_28_16_32_47/Faiqs-MBP.xplane.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 32/validation/events.out.tfevents.1627471968.Faiqs-MBP.1038.35060.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/events.out.tfevents.1627473213.Faiqs-MBP.1038.56667.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/events.out.tfevents.1627473213.Faiqs-MBP.profile-empty
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.input_pipeline.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.kernel_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.memory_profile.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.overview_page.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.tensorflow_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.trace.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/train/plugins/profile/2021_07_28_16_53_33/Faiqs-MBP.xplane.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 1 XL at 16 53/validation/events.out.tfevents.1627473214.Faiqs-MBP.1038.57347.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/events.out.tfevents.1627473264.Faiqs-MBP.1038.73626.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/events.out.tfevents.1627473264.Faiqs-MBP.profile-empty
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.input_pipeline.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.kernel_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.memory_profile.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.overview_page.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.tensorflow_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.trace.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/train/plugins/profile/2021_07_28_16_54_24/Faiqs-MBP.xplane.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 2 XL at 16 54/validation/events.out.tfevents.1627473265.Faiqs-MBP.1038.74322.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/events.out.tfevents.1627473341.Faiqs-MBP.1038.90602.v2
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/events.out.tfevents.1627473342.Faiqs-MBP.profile-empty
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.input_pipeline.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.kernel_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.memory_profile.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.overview_page.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.tensorflow_stats.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.trace.json.gz
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/train/plugins/profile/2021_07_28_16_55_42/Faiqs-MBP.xplane.pb
8. Build an Artificial Neural Network to Recognize Images using Keras & Tensorflow/tensorboard_cifar_logs/Model 3 XL at 16 55/validation/events.out.tfevents.1627473343.Faiqs-MBP.1038.91320.v2
9. Use Tensorflow to Classify Handwritten Digits/MNIST/digit_xtest.csv
9. Use Tensorflow to Classify Handwritten Digits/MNIST/digit_xtrain.csv
9. Use Tensorflow to Classify Handwritten Digits/MNIST/digit_ytest.csv
9. Use Tensorflow to Classify Handwritten Digits/MNIST/digit_ytrain.csv
9. Use Tensorflow to Classify Handwritten Digits/MNIST/test_img.png
*.Faiqs-MBP
10. Serving a Tensorflow Model through a website/MNIST/digit_xtest.csv
10. Serving a Tensorflow Model through a website/MNIST/digit_xtrain.csv
10. Serving a Tensorflow Model through a website/MNIST/digit_ytest.csv
10. Serving a Tensorflow Model through a website/MNIST/digit_ytrain.csv
10. Serving a Tensorflow Model through a website/MNIST/test_img.png
10. Serving a Tensorflow Model through a website/.ipynb_checkpoints/01 TF Saved Model Export-checkpoint.ipynb
10. Serving a Tensorflow Model through a website/MNIST/load_xtest.csv
10. Serving a Tensorflow Model through a website/MNIST/load_ytest.csv
11. Use Tensorflow to Classify Handwritten Alphabets/A_Z_Handwritten_Data.csv
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/alphabets_xtest.csv
*.csv
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/test_img1.png
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/test_img2.png
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/test_img3.png
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/test_img4.png
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/test_img5.png
11. Use Tensorflow to Classify Handwritten Alphabets/NIST/test_img6.png
